/* @font-face {
font-family: 'Cinzel Decorative Regular';
font-style: normal;
font-weight: normal;
src: local('Cinzel Decorative Regular'), url('/font/CinzelDecorative-Regular.woff') format('woff');
} */
@media screen and (max-width: 800px) {
    .galleryItem {
        columns: 2 100%;
        column-gap: 0.5rem;
    }
}

@media screen and (max-width: 600px) {
    .galleryItem {
        columns: 1 100vw;
        column-gap: 0.5rem;
    }
}

body {
  left: 0;
  top:0;
}

a {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: normal;
  font-size: 36px;
}

.galleryContainer {
    columns: 4 300px;
    column-gap: 0.5rem;
}

img {
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;
}
