/* @font-face {
font-family: 'Cinzel Decorative Regular';
font-style: normal;
font-weight: normal;
src: local('Cinzel Decorative Regular'), url('/font/CinzelDecorative-Regular.woff') format('woff');
}
*/
@media screen and (max-width: 800px) {
    p {
        font-size: 2rem;
    }
}

body {
  left: 0;
  top:0;
  font-family: georgia, times, serif;
}

.nav a {
  font-family: 'Cinzel Decorative', cursive;
}

img {
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;
}

.galleryContainer {
  columns: 4 300px;
  column-gap: 0.5rem;
  height: 200vh;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    box-sizing: border-box;
    border: 2px solid #EE6C00;
    border-radius: 1.5rem;
    transition: background-color .5s ease-in-out;
}

input:focus {
    background-color: #FFC28F;
    outline: none;
}

textarea {
    box-sizing: border-box;
    border: 2px solid #FF8D2F;
    border-radius: 1.5rem;
    outline: none;
    transition: background-color .5s ease-in-out;
}

textarea:focus {
    background-color: #FFC28F;
}

#datepicker {
    width: 14rem;
}
